body {
    display: block;
    background-image: url(Images/bcg.jpg);
    background-size: cover;
    margin: 0;
}
img {
    width: 250px;
    border: 3px solid green;
    border-radius: 20%;
}
#flt {
    float: left;
    width: 200px;
    margin-bottom: 0 25px 5px 0;
}
p {
    border: 2px solid red;
    display: inline-block;
    width: 200px;
}
.txt {
    font-size: larger;
    font-style: oblique;
    color: white;
}
.grad1 {
    background: linear-gradient(blue, purple);
    width: 100%;
}
.grad2 {
    background: linear-gradient(to right, #243b55, #141e30);
    width: 100%;

}
.grad3 {
    background: linear-gradient(45deg, #f12711, #f5af19);
    width: 100%;
}
.grad4 {
    background: linear-gradient(180deg, #373b44 0%, #4286f4 100%);
    width: 100%;

}
.grad5 {
    background: linear-gradient(to right, #0575e6, #00f260, #0575e6);
    width: 100%;

}
.grad6 {
    background: linear-gradient(135deg, #00c6ff 0%, #0072ff 100%);
    width: 100%;
}
.grad9 {
    background: linear-gradient(45deg, #f12711, #f5af19);
    width: 200px;
    margin-bottom: 0;
}
.grad10 {
    background: linear-gradient(to right, #0575e6, #00f260, #0575e6);
    width: 400px;
    margin-left: 100px;
}
.navbar {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    font-size:30px;
    border-radius: 10px;
    border: 2px solid transparent;
}
#ali {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    width: 900px;
    height: 30vh;
    display: flex;
}
.fin {
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(280px, 1fr));
    gap:40px;
    width: 250%;
    margin:10px auto;
}
.fin p{
    width:90%; 
    height: fit-content;     
    margin:10px auto;
    font-size:14px;
    text-align:center;
}   